@model List<ProtectAnimal.Models.works>
@{
    ViewBag.Title = "ShowContext";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>文章预览</title>
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../../Content/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!--引入头部时要带的样式-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="../../vendor/font-awesome/css/font-awesome.min.css">
    <!-- Google fonts - Roboto-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <!-- Bootstrap Select-->
    <link rel="stylesheet" href="../../vendor/bootstrap-select/css/bootstrap-select.min.css">
    <!-- owl carousel-->
    <link rel="stylesheet" href="../../vendor/owl.carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="../../vendor/owl.carousel/assets/owl.theme.default.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="../../Content/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="../../Content/css/custom.css">
    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" href="../../Content/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="../../Content/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="../../Content/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../Content/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../Content/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../Content/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../Content/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../Content/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../Content/img/apple-touch-icon-152x152.png">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <!--引入结束-->
    <style>/*自己写的css,暂时放在这*/
        /* 多行文字隐藏 */
        .overline1 {
            -webkit-line-clamp: 3;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            white-space: normal;
        }
        .setimage {
            overflow: hidden;
            position: relative;
            width: 800px;
            height: 400px;
            background: black;
        }

            .setimage > img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        /*top: 50%;left: 50%;， 是以左上角为原点，故不处于中心位置
        translate(-50%,-50%) 作用是，往上（x轴）, 左（y轴）移动自身长宽的 50%，以使其居于中心位置
        */
    </style>
</head>
<body>
    <!-- Wrapper -->
    <div id="wrapper">
        
        <!-- Main -->
        <div id="main">

            @foreach (var w in Model)
    {

        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">@w.Title</a></h2>
                    <p>@w.CoreSentence</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">November 1, 2015</time>
                    <a href="#" class="author"><img src="../../Content/images/avatar.jpg" alt="" /></a>
                    <span>@Html.ActionLink(@w.author, "CatAuthorArt", new { uid = w.Uid })</span>
                </div>
            </header>
            <div class="setimage">
                <a href="#" class="image featured"><img src=@w.Image alt="" /></a>
            </div>
            <br />
            <p class="overline1">@Html.Raw(@w.Context)</p>
            <footer>
                <ul class="actions">
                    <li>@Html.ActionLink("阅读更多", "ShowDetail", new { wid = w.Wid }, new { @class = "button big" })</li>
                </ul>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
        </article>

}


            <!-- Post -->
            <!--
     <article class="post">
         <header>
             <div class="title">
                 <h2><a href="#">给你一个理由：保护濒危野生动物</a></h2>
                 <p>劝君莫打枝头鸟，子在巢中望母归。</p>
             </div>
             <div class="meta">
                 <time class="published" datetime="2015-10-25">October 25, 2015</time>
                 <a href="#" class="author"><span class="name">Jane Doe</span><img src="../../Content/images/avatar.jpg" alt="" /></a>
             </div>
         </header>
         <a href="#" class="image featured"><img src="../../Content/images/pic02.jpg" alt="" /></a><br />
         <p class="overline1">有人说，是为了保持生物的多样性。可是，为什么要保持生物的多样性？为什么多样就是好，不多样就是不好呢？你怎么知道一个国家有十万种鸟就是好，有十万零一种鸟就是不好？这个是没有道理的。也许让那种不适应生存的该死的鸟灭绝了，让其他十万种更有生存能力的鸟有更大的生存空间，这样更加好，不是吗？<br>告诉你，每年有多少种新的物种产生。那么一个物种灭绝了，是不是给其他新物种的产生创造了条件呢？那是肯定的。所以保护濒危野生动物，不一定会保护生物多样性，还有可能破坏生物的多样性。<br>我在第一段说了，生物多样性是不值得追求的目标。那么第二段的意思是，就算是为了生物的多样性，也不应该保护现有的濒危野生动物。<br>生态就不平衡呢？也许会更加平衡呢？很多人把生态平衡理解成一个僵死的过程，以为生态平衡就是维持现状。这是错的。生态平衡是一个动态的过程，它总是从一种平衡转向另一种平衡。有些动物很容易灭绝，这说明现在的状态是不稳定的平衡。那么它灭绝了，不稳定的平衡就会转向稳定的平衡，这才是生态平衡的应有之义吧？<br>第四点，有人说保护生物多样性，保护生态平衡，都是为了保护人类自己。好，涉及到人类，那就要涉及到方法论的问题了。为什么？因为涉及人类的科学叫社会科学，它的方法与自然科学的方法不同。在正确的社会科学中，有一条这样的原则，那就是：目的的正确性，不能论证手段的正当性。就是说，即使保护生物多样性，保护生态平衡，这些目标是正确的，那么使用国家法律强迫，也就是侵犯财产权的方式，也是不正当的。<br>现有的保护濒危动物的国家法律，为了保护动物而侵犯人的身体和财产，这显然就是孟子说的“帅兽而食人”了。为了保护别的生物而伤害人类，这样的人是人类的敌人。为什么呢？因为所有的伦理道德法律，都是人与人之间的原则。我们人类作为一个物种，内部的关系肯定要高于我们与其他物种之间的关系。那么为了保护别的生物而惩罚人类，就是把人放在畜牲之下，造成人不如狗，人不如猪了。<br>我呼吁停止这种把人放在畜牲之下的暴行。</p>
         <footer>
             <ul class="actions">
                 <li><a href="/Article/ShowDetail" class="button big">Continue Reading</a></li>
             </ul>
             <ul class="stats">
                 <li><a href="#">General</a></li>
                 <li><a href="#" class="icon fa-heart">28</a></li>
                 <li><a href="#" class="icon fa-comment">128</a></li>
             </ul>
         </footer>

     </article>

    -->
            <!-- Pagination -->
            <!--
             <ul class="actions pagination">
                <li><a href="" class="disabled button big previous">Previous Page</a></li>
                <li><a href="javascript:void(0)" class="button big next">Next Page</a></li>
            </ul>
    -->


        </div>

        <!-- Sidebar --><!--左边框-->
        <section id="sidebar">

            <!-- Intro -->
            <section id="intro">
                <a href="#" class="logo"><img src="../../Content/images/logo.jpg" alt="" /></a>
                <header>
                    <h2>分类专栏</h2>
                    <p>根据你的喜好来这里转一转吧^_^</a></p>
                </header>
            </section>

            <!-- Mini Posts -->
            <section>
                <div class="mini-posts">

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="/Article/ShowContext/4">公益海报类</a></h3>
                            <a href="/Article/ShowContext/4" class="author"><img src="../../Content/images/logo.jpg" alt="" /></a>
                        </header>
                        <a href="/Article/ShowContext/4" class="image"><img src="../../Content/images/pic04.jpg" alt="" /></a>
                    </article>

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="/Article/ShowContext/5">号召宣传类</a></h3>
                            <a href="/Article/ShowContext/5" class="author"><img src="../../Content/images/logo.jpg" alt="" /></a>
                        </header>
                        <a href="/Article/ShowContext/5" class="image"><img src="../../Content/images/pic05.jpg" alt="" /></a>
                    </article>

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="/Article/ShowContext/6">心得日志类</a></h3>
                            <a href="/Article/ShowContext/6" class="author"><img src="../../Content/images/logo.jpg" alt="" /></a>
                        </header>
                        <a href="/Article/ShowContext/6" class="image"><img src="../../Content/images/pic06.jpg" alt="" /></a>
                    </article>

                    <!-- Mini Post -->
                    <article class="mini-post">
                        <header>
                            <h3><a href="/Article/ShowContext/7">其他类</a></h3>
                            <a href="/Article/ShowContext/7" class="author"><img src="../../Content/images/logo.jpg" alt="" /></a>
                        </header>
                        <a href="/Article/ShowContext/7" class="image"><img src="../../Content/images/pic07.jpg" alt="" /></a>
                    </article>

                </div>
            </section>

            <!-- Posts List -->
            <section>
                <ul class="posts">
                    <li>
                        <article>
                            <header>
                                <h3><a href="/Article/ShowContext/0">亚欧非洲类</a></h3>
                                <time class="published">点击阅读</time>
                            </header>
                            <a href="/Article/ShowContext/0" class="image"><img src="../../Content/images/pic08.jpg" alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="/Article/ShowContext/1">南北美洲类</a></h3>
                                <time class="published">点击阅读</time>
                            </header>
                            <a href="/Article/ShowContext/1" class="image"><img src="../../Content/images/pic09.jpg" alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="/Article/ShowContext/2">大洋洲</a></h3>
                                <time class="published">点击阅读</time>
                            </header>
                            <a href="/Article/ShowContext/2" class="image"><img src="../../Content/images/pic10.jpg" alt="" /></a>
                        </article>
                    </li>
                    <li>
                        <article>
                            <header>
                                <h3><a href="/Article/ShowContext/3">南极洲北冰洋</a></h3>
                                <time class="published">点击阅读</time>
                            </header>
                            <a href="/Article/ShowContext/3" class="image"><img src="../../Content/images/pic12.jpg" alt="" /></a>
                        </article>
                    </li>
                </ul>
            </section>

            <!-- About -->
            <section class="blurb">
                <h2>关于</h2>
                <p>我们是一个公益性网站，目的是为了向大家介绍目前地球上正处于永远消失在这个世界上的困境的濒危野生动物，也提供了一个更广的平台方便大家宣传濒危动物相关信息，呼吁大家一起加入保护濒危野生动物的队列中，同时也在征集志愿者为濒危物种保护事业奉献力量。</p>
            </section>
        </section>

    </div>

    <!-- Scripts -->
    <script src="../../Content/assets/js/jquery.min.js"></script>
    <script src="../../Content/assets/js/skel.min.js"></script>
    <script src="../../Content/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="../../Content/assets/js/main.js"></script>

</body>
</html>


